# -----------------------------------------------------------------------------
# Environment Settings
# -----------------------------------------------------------------------------

# The application ID used to uniquely store session and cache data, mutex locks, and more
CRAFT_APP_ID=

# The secure key Craft will use for hashing and encrypting data
CRAFT_SECURITY_KEY=

# The environment Craft is currently running in (dev, staging, production, etc.)
CRAFT_ENVIRONMENT=dev

# Site Code
SITE_CODE=__SITE_CODE__

# The site url that is used to determine the @web alias
PRIMARY_SITE_URL=__BASE_URL__

# -----------------------------------------------------------------------------
# Database Settings
# -----------------------------------------------------------------------------

CRAFT_DB_DRIVER=mysql
CRAFT_DB_SERVER=127.0.0.1
CRAFT_DB_PORT=3306
CRAFT_DB_USER=localdev
CRAFT_DB_PASSWORD=password
CRAFT_DB_DATABASE=__DB_DATABASE__
CRAFT_DB_SCHEMA=public
CRAFT_DB_TABLE_PREFIX=

# -----------------------------------------------------------------------------
# General Settings
# -----------------------------------------------------------------------------

DEV_MODE=true
ALLOW_ADMIN_CHANGES=true
DISALLOW_ROBOTS=true
TEMPLATE_CACHING=false
CRAFT_USER_SESSION_DURATION=0
CRAFT_ALLOW_UPDATES=false

# -----------------------------------------------------------------------------
# Amazon S3 Storage Settings
# -----------------------------------------------------------------------------

# The AWS API key with read/write access to S3
S3_API_KEY="__S3_API_KEY__"

# The AWS API key secret
S3_SECRET="__S3_SECRET__"

# The name of the S3 bucket
S3_BUCKET="nlc-craft-sites-assets"

# The region the S3 bucket is in
S3_REGION="us-east-1"

# -----------------------------------------------------------------------------
# Amazon CloudFront Settings
# -----------------------------------------------------------------------------

CLOUDFRONT_URL="https://assets.nlcnet.net"
CLOUDFRONT_DISTRIBUTION_ID="__CLOUDFRONT_DISTRIBUTION_ID__"
CLOUDFRONT_PATH_PREFIX=
